transformers
transformers[sentencepiece]
datasets
sacreblue
rough_score
py7zr
pandas
nltk
tqdm
pyYAML
matplotlib
torch
notebook
boto3
mypy-boto3-s3
python-box
ensure
fastapi
uvicorn
Jinja2

-e .


# pip install sentencepiece
# pip install transformers[sentencepiece]
# pip install transformers
# pip install transformers[torch]
# pip install trainer
# pip install torch